@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff5b3f;
  --body-color: #fffcfb;
  --body-color-alt: #f7eeee;
  --background-dark: #c5bebe;
  --navbar-color: transparent;

  --text-normal: #211c1b;
  --text-light: #fbf6f4;

  /* Sizes */
  --card-width: 250px;
  --card-border-radius: 20px;
  --row-increment: 10px;
  --card-small: 32;
  --card-regular: 38;
  --card-large: 44;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
  color: var(--text-normal);
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  padding: 30px;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

main {
  flex: 1;
  width: 100%;
  height: calc(100vh - 80px);
}

footer {
  background-color: var(--background-dark);
  height: 100px;
}

/* ****************** Navbar ****************** */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo-image {
  width: 18px;
  margin-right: 6px;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.nav-list {
  display: flex;
  align-items: center;
  align-self: stretch;
  list-style-type: none;
}

.nav-item {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-left: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--text-normal);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 10px;
}

.nav-link:hover {
  color: var(--primary-color);
  border-radius: 50px;
}

.searchbar {
  display: flex;
  align-items: center;
  background-color: var(--body-color-alt);
  border: none;
  border-radius: 10px;
}

.searchbar.active {
  outline: 2px solid #92c1ff;
}

.searchbar:hover,
.search-input:hover {
  cursor: pointer;
}

.search-image {
  padding: 10px;
}

.search-input {
  background-color: transparent;
  border: none;
  padding: 10px 0;
}

.search-input::placeholder {
  color: var(--text-normal);
}

.search-input:focus {
  outline: none;
}

/* ****************** Hero ****************** */
.hero {
  display: flex;
  width: 100%;
  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 100px;
  padding: 100px 20px;
  width: 40%;
}

.hero-image {
  position: relative;
  overflow: hidden;
  width: 60%;
}

.hero .image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.hero-content h1 {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 24px;
}

.hero-content p {
  line-height: 28px;
  margin-bottom: 24px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.start-button,
.explore-button {
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  width: 140px;
  height: 44px;
}

.start-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
}

.explore-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

/* ****************** Start Content ****************** */
.start-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-color-alt);
  padding-top: 80px;
}

.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-bottom: 50px;
}

.start-content h2 {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
}

.start-content p {
  line-height: 22px;
  text-align: center;
}

.circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.circle-container-bottom,
.circle-container-top {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  position: relative;
  background-color: var(--background-dark);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.4s;
  width: 100px;
  height: 100px;
}

.circle:hover {
  transform: scale(0.8);
}

.circle-image {
  position: absolute;
  object-fit: cover;
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-title p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

/* ****************** Search ****************** */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: var(--row-increment);
  justify-content: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--card-border-radius);
  cursor: zoom-in;
  transition: transform 0.2s;
  margin: 15px 10px;
  padding: 0;
}

.card-small {
  grid-row-end: span var(--card-small);
}

.card-regular {
  grid-row-end: span var(--card-regular);
}

.card-large {
  grid-row-end: span var(--card-large);
}

.card-image {
  flex: 1 1 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  border-radius: var(--card-border-radius);
}

.card-title {
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
}

.card-item:hover {
  transform: scale(1.05);
}

.card-item:hover .card-img {
  filter: grayscale(60%) brightness(70%);
  opacity: 90%;
}

.card-save {
  position: absolute;
  display: none;
  right: 0;
}

.card-save-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-weight: 700;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  margin: 10px;
  padding: 14px 28px;
}

.card-item:hover .card-save {
  display: block;
}

/* ****************** Meal Plan Form ****************** */
/* Left Side */
.meal-planner-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.meal-planner-form {
  display: flex;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  max-width: 900px;
  min-height: 600px;
}

.form-content {
  padding: 50px;
  width: 50%;
}

.form-intro {
  margin-bottom: 50px;
}

.form-intro h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.form-select {
  background-color: var(--body-color-alt);
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

.meal-type-fieldset {
  border: 2px solid var(--body-color-alt);
  padding: 10px;
}

.form-check-input:checked {
  background-color: var(--primary-color);
}

.meal-planner-form-buttons {
  display: flex;
  margin-top: 40px;
  gap: 10px;
}

.add-button,
.close-button {
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  width: 140px;
  height: 44px;
}

.add-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
}

.close-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

#submitButton:disabled {
  background-color: #c9c2c2; /* Light gray when disabled */
  cursor: not-allowed;
}

/* Right Side */
.form-recipe-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  width: 50%;
}

.form-recipe-content:hover {
  cursor: zoom-in;
  filter: grayscale(10%) brightness(70%);
  opacity: 90%;
}

.recipe-image {
  border-radius: 50px 0 50px 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.recipe-title {
  position: absolute;
  background: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
  border-radius: 50px 0 50px 0;
  margin: 20px;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.recipe-title h2 {
  position: absolute;
  color: white;
  bottom: 30%;
}

/* ****************** Meal Planner ****************** */
.meal-planner-section {
  margin: 50px 100px;
  height: 100vh;
}

.days {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
}

.day-button {
  background-color: transparent;
  border: none;
  padding: 10px;
}

.day-button:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.day-button h2 {
  text-transform: capitalize;
}

.meals {
  margin: 20px 0;
}

.meals h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.meal-card {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--body-color-alt);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}

.meal-card-image {
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.meal-image {
  width: 200px;
  height: 200px;
}

.meal-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px;
}

.delete {
  background-color: transparent;
  border: none;
  font-size: 18px;
}
