:root {
  font-size: 18px;
  --beet: #d45945;
  --beet-text: #fbf6f4;

  --card-width: 250px;
  --card-border-radius: 20px;
  --row-increment: 10px;
  --card-small: 32;
  --card-regular: 38;
  --card-large: 44;
}

body {
  margin: 0;
  color: #211c1b;
  background-color: #ffffff;
}

.section {
  margin: 0 120px 0 120px;
}

/* ****************** Headings ****************** */
h1 {
  font-size: 48px;
  line-height: 24px;
}

/* ****************** Font Classes ****************** */
.nunito-sans-thin {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-light {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-semibold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

/* ****************** Navbar Styling ****************** */
.navbar {
  background-color: transparent;
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* LOGO link */
.logo-link {
  display: inline-block; /* Ensures the link takes the size of the logo image */
  margin: 10px;
}

.logo-img {
  display: block;
  max-height: 56px;
  width: auto;
}

.logo-img:hover {
  opacity: 70%;
}

/* Search Bar */
.searchbar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 50px;
  border: none;
  width: 100%;
}

.searchbar.active {
  outline: 2px solid #92c1ff;
  background-color: #e1e1e1;
}

.searchbar:hover {
  background-color: #e1e1e1;
}

.searchbar-input {
  font-size: 18px;
  background-color: transparent;
  padding: 14px 28px 14px 4px;
  border: none;
  width: 100%;
}

.searchbar-input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.searchbar-input:focus {
  outline: none;
}

.search-img {
  padding: 14px 0 14px 22px;
}

.input-clear {
  border: none;
  border-radius: 50px;
  background-color: transparent;
  padding: 14px 18px;
}

.input-clear:hover {
  background-color: #d4d4d4;
}

/* Other Navbar Links */
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin: 10px;
}

.nav-link {
  color: #211c1b;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 14px 28px;
  border-radius: 50px;
}

.nav-link.active {
  background-color: var(--beet);
  color: var(--beet-text);
}

.nav-link:hover {
  color: var(--beet);
}

.nav-link.active:hover {
  color: var(--beet-text);
  opacity: 70%;
}

/* ****************** Home Styling ****************** */

/* ****************** Search Styling ****************** */
.card-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: var(--row-increment);
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 0;
  width: 80vw;
}

.card-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--card-border-radius);
  /* background-color: #f8f8f8; */
  cursor: zoom-in;
  transition: transform 0.2s;
  margin: 15px 10px;
  padding: 0;
}

.card-small {
  grid-row-end: span var(--card-small);
}

.card-regular {
  grid-row-end: span var(--card-regular);
}

.card-large {
  grid-row-end: span var(--card-large);
}

.card-img {
  flex: 1 1 auto; /* added this */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  border-radius: var(--card-border-radius);
}

.card-title {
  padding: 10px;
  text-overflow: ellipsis; /* added this */
  white-space: nowrap; /* added this */
  overflow: hidden; /* added this */
}

.card-item:hover {
  transform: scale(1.05);
}

.card-item:hover .card-img {
  filter: grayscale(60%) brightness(70%);
  opacity: 90%;
}

.card-save {
  position: absolute;
  display: none;
  right: 0;
}

.card-save-button {
  background-color: var(--beet);
  color: var(--beet-text);
  padding: 14px 28px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.card-item:hover .card-save {
  display: block;
}
