@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #d45945;
  --body-color: #ffffff;
  --navbar-color: darkgray;

  --text-normal: #211c1b;
  --text-light: #fbf6f4;

  /* Sizes */
  --card-width: 250px;
  --card-border-radius: 20px;
  --row-increment: 10px;
  --card-small: 32;
  --card-regular: 38;
  --card-large: 44;
}

body {
  background-color: var(--body-color);
  color: var(--text-normal);
  font-size: 16px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  padding: 20px;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

main {
  padding: 0 100px;
  width: 100%;
  height: calc(100vh - 80px);
}

/* ****************** Navbar ****************** */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo-image {
  width: 20px;
  margin-right: 6px;
}

.logo-text {
  font-size: 18px;
  font-weight: 800;
}

nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.nav-list {
  display: flex;
  align-items: center;
  align-self: stretch;
  list-style-type: none;
}

.nav-item {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-left: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--text-normal);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 10px;
}

.nav-link:hover {
  /* background-color: var(--hover-color); */
  border-radius: 50px;
}

/* ****************** Headings ****************** */
h1 {
  font-size: 60px;
  line-height: 76px;
  margin: 0;
}

h3 {
  margin: 10px;
}

p {
  margin: 0;
  margin-bottom: 14px;
}

.section {
  margin-left: 180px;
  margin-right: 180px;
}

/* ****************** Font Classes ****************** */
.nunito-sans-thin {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-light {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-semibold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

/* ****************** Home Styling ****************** */
.home-section {
  margin-top: 100px;
}

.search-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

/* ****************** Search Styling ****************** */
.card-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: var(--row-increment);
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 0;
  width: 80vw;
}

.card-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--card-border-radius);
  /* background-color: #f8f8f8; */
  cursor: zoom-in;
  transition: transform 0.2s;
  margin: 15px 10px;
  padding: 0;
}

.card-small {
  grid-row-end: span var(--card-small);
}

.card-regular {
  grid-row-end: span var(--card-regular);
}

.card-large {
  grid-row-end: span var(--card-large);
}

.card-img {
  flex: 1 1 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  border-radius: var(--card-border-radius);
}

.card-title {
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-item:hover {
  transform: scale(1.05);
}

.card-item:hover .card-img {
  filter: grayscale(60%) brightness(70%);
  opacity: 90%;
}

.card-save {
  position: absolute;
  display: none;
  right: 0;
}

.card-save-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 14px 28px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.card-item:hover .card-save {
  display: block;
}

/* ****************** Meal Plan Form Styling ****************** */
.meal-planner-form-section {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 50px;
}

.form-recipe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50px 0 0 50px;
  min-width: 300px;
  max-width: 400px;
  margin: 0;
}

.form-recipe-section:hover {
  cursor: zoom-in;
  filter: grayscale(10%) brightness(70%);
  opacity: 90%;
}

.recipe-image {
  border-radius: 50px 0 0 0;
  width: 100%;
  height: 60%;
}

.recipe-title {
  margin: 32px;
  color: var(--text-light);
}

.recipe-title:hover {
  transform: scale(1.05);
}

.form-section {
  padding: 50px;
  width: 100%;
}

.form-intro {
  margin-bottom: 40px;
}

.form-title-container {
  display: flex;
  justify-content: space-between;
}
.form-title {
  margin: 10px 0;
}

.button-container {
  display: flex;
}

.close-button,
.add-button {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 80px;
  height: 50px;
}

.add-button {
  background-color: var(--primary-color);
  color: var(--text-light);
}
.close-button {
  background-color: black;
  color: #e1e1e1;
}

#submitButton:disabled {
  background-color: lightgray; /* Light gray when disabled */
  cursor: not-allowed;
}

.form-select {
  display: flex;
  font-size: 18px;
  background-color: #f1f1f1;
  border-radius: 20px;
  border: none;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
}

.form-check-content {
  display: flex;
  align-items: center;
  border: none;
}

.form-check-input {
  /* Hide the default browser styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin: 0 10px;
}

.form-check-input:hover {
  cursor: pointer;
  background-color: #e1e1e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-check-input:checked {
  background-color: var(--primary-color);
}

/* ****************** Meal Planner Styling ****************** */
.sunday-form {
  /* display: flex;
  align-items: center; */
}

.submit-button {
  background-color: black;
  color: #e1e1e1;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80px;
  height: 40px;
}

.submit-button:hover {
  background-color: var(--primary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ede1df;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f19686;
}
