<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='styles.css') }}">
  </head>
  <body>
    <nav class="navbar nunito-sans-semibold">
      <a class="logo-link" id="home" href="/">
        <img class="logo-img" src="./static/logo_2.png" alt="beet branding logo">
      </a>
      <div class="searchbar">
        <input class="searchbar-input nunito-sans-regular" type="text" placeholder="Search...">
      </div>
      <div class="navbar-nav">
        <a class="nav-link" id="home" href="/">Home</a> 
      </div>
    </nav>
    <div class="section">{% block content %}{% endblock %}</div>
  </body>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
  ></script>
</html>
