<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}BeetEats{% endblock%}</title>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='styles.css') }}">
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="logo-image" src="./static/icons/beet-icon.svg" alt="logo" />
        <span class="logo-text">Beet</span>
        <span class="logo-text" style="color: var(--primary-color)">Eats</span>
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" id="home" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="about" href="/about">About</a>
          </li>
          <li class="nav-item">
            <form method="POST" action="{{ url_for('search') }}">
              <button
                class="nav-link"
                type="submit"
                style="background-color: transparent; border: none"
              >
                Recipes
              </button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="planner" href="/meal-planner">Planner</a>
          </li>
        </ul>
      </nav>
      <form class="searchbar" method="POST" action="{{ url_for('search') }}">
        <img
          class="search-image"
          src="./static/icons/magnifyingglass.svg"
          alt="magnifying glass icon"
        />
        <input
          class="search-input"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search..."
          value="{{ query if query else '' }}"
          onfocus="activateSearchbar(true)"
          onblur="activateSearchbar(false)"
        />
        <button type="submit" style="display: none"></button>
      </form>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer></footer>
  </body>
</html>
