<!-- extend base template -->
{% extends "base.html" %} {% block content %}
<section class="hero">
  <div class="hero-content">
    <h1>Unearth Your Next Favorite Recipe</h1>
    <p>
      Find new recipes, plan your meals, and enjoy home-cooked goodness.
      Discover, plan, and savor every bite.
    </p>
    <div class="hero-buttons">
      <button class="start-button" onclick="scrollToSection('start')">
        Get Started
      </button>
      <button class="explore-button" onclick="window.location.href='/search'">
        Explore Recipes
      </button>
    </div>
  </div>
  <div class="hero-image">
    <img class="image" src="./static/images/hero.png" alt="food" />
  </div>
</section>
<section class="start-section" id="start">
  <div class="start-content">
    <h2>Popular Recipes</h2>
    <p>
      Find popular recipes for every meal and dietary need. Get inspired and
      cook with confidence.
    </p>
  </div>
  <div class="circles">
    <div class="circle-container-top">
      {% for popular in popularTop %}
      <form
        class="circle-container"
        method="GET"
        action="{{ url_for('search') }}"
      >
        <input type="hidden" name="meal-type" value="{{ popular.meal_type }}" />
        <input
          type="hidden"
          name="cuisine-type"
          value="{{ popular.cuisine_type }}"
        />
        <input type="hidden" name="health" value="{{ popular.health }}" />
        <input type="hidden" name="dish-type" value="{{ popular.dish_type }}" />
        <button class="circle" type="submit">
          <img class="circle-image" src="{{ popular.image }}" />
        </button>
        <div class="circle-title">
          <p>{{ popular.title }}</p>
        </div>
      </form>
      {% endfor %}
    </div>
    <div class="circle-container-bottom">
      {% for popular in popularBottom %}
      <form
        class="circle-container"
        method="GET"
        action="{{ url_for('search') }}"
      >
        <input type="hidden" name="meal-type" value="{{ popular.meal_type }}" />
        <input
          type="hidden"
          name="cuisine-type"
          value="{{ popular.cuisine_type }}"
        />
        <input type="hidden" name="health" value="{{ popular.health }}" />
        <input type="hidden" name="dish-type" value="{{ popular.dish_type }}" />
        <button class="circle" type="submit">
          <img class="circle-image" src="{{ popular.image }}" />
        </button>
        <div class="circle-title">
          <p>{{ popular.title }}</p>
        </div>
      </form>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
