<!-- extend base template -->
{% extends "base.html" %}MealPlannerForm{% block content %}
<section class="meal-planner-section">
  <div class="days">
    {% for day in ["sunday", "monday", "tuesday", "wednesday", "thursday",
    "friday", "saturday"] %}
    <form method="GET" action="{{ url_for('meal-planner') }}">
      <input type="hidden" name="day" value="{{ day }}" />
      <button class="day-button" type="submit">
        <h2>{{ day }}</h2>
      </button>
    </form>
    {% endfor %}
  </div>
  {% for meal in ["breakfast", "lunch", "dinner", "dessert", "snack"] %}
  <div class="meals">
    <h1>{{ meal }}</h1>
    {% for recipe in recipes %} {% if recipe.recipe_meal == meal %}
    <div class="meal-card">
      <div class="meal-card-image">
        <img
          class="meal-image"
          src="{{ recipe.recipe_image }}"
          onclick="window.open('{{ recipe.recipe_url }}', '_blank')"
          style="cursor: pointer"
        />
      </div>
      <div class="meal-card-content">
        <h2>{{ recipe.recipe_title }}</h2>
        <button
          type="button"
          class="delete"
          onClick="deleteRecipe('{{ recipe.id }}', '{{ recipe.recipe_day }}')"
        >
          &times; Delete
        </button>
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
  {%endfor %}
</section>
{% endblock %}
