<!-- extend base template -->
{% extends "base.html" %}MealPlannerForm{% block content %}
<div class="meal-planner-section">
  <h1>Meal Planner</h1>
  <table>
    <thead>
      <tr>
        <th>
          {% for day in ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday",
          "Friday", "Saturday"] %}
        </th>

        <th>
          <div><span>{{ day }}</span></div>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for meal in ["breakfast", "lunch", "dinner", "dessert", "snack"] %}
      <tr>
        <th>{{ meal|capitalize }}</th>
        {% for day in ["sunday", "monday", "tuesday", "wednesday", "thursday",
        "friday", "saturday"] %}
        <td>
          {% for recipe in recipes %} {% if recipe.recipe_meal == meal and
          recipe.recipe_day == day %}
          <div>
            <p
              class="meal-title"
              onclick="window.open('{{ recipe.recipe_url }}', '_blank')"
              style="cursor: pointer"
            >
              {{ recipe.recipe_title }}
            </p>
            <button
              type="button"
              class="close"
              onClick="deleteRecipe('{{ recipe.id }}')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          {% endif %} {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
