<!-- extend base template -->
{% extends "base.html" %}Search{% block content %}
<section class="search-section">
  <div class="card-container">
    {% for recipe in recipes %}
    <div class="card-item card-small">
      <img
        class="card-image"
        src="{{ recipe.recipe.image }}"
        onclick="window.open('{{ recipe.recipe.url }}', '_blank')"
      />
      <div
        class="card-title"
        onclick="window.open('{{ recipe.recipe.url }}', '_blank')"
      >
        {{ recipe.recipe.label }}
      </div>
      <form
        class="card-save"
        method="GET"
        action="{{ url_for('meal-planner-form') }}"
      >
        <input type="hidden" name="title" value="{{ recipe.recipe.label }}" />
        <input type="hidden" name="image" value="{{ recipe.recipe.image }}" />
        <input type="hidden" name="url" value="{{ recipe.recipe.url }}" />
        <input type="hidden" name="ref" value="{{ recipe._links.self.href }}" />
        <button class="card-save-button" type="submit">Save</button>
      </form>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
